@{
    Layout = "_Layout";
}

<h2>📌 Sitemap</h2>
<ul class="list-group">
    <li class="list-group-item">
        <a href="/Books">📚 View All Books</a>
    </li>
    <li class="list-group-item">
        <a href="/Books/Create">➕ Add New Book</a>
    </li>
    <li class="list-group-item">
        <a href="/Authors">👤 List Authors</a>
    </li>
    <li class="list-group-item">
        <a href="/Authors/Create">➕ Add New Author</a>
    </li>
    <li class="list-group-item">
        <a href="/Categories">🏷️ View Categories</a>
    </li>
    <li class="list-group-item">
        <a href="/Categories/Create">➕ Add New Category</a>
    </li>
    <li class="list-group-item">
        <a href="/Books/Search">🔍 Search Books (Elasticsearch)</a>
    </li>
</ul>
